<div class="fixed">
  <h1>Broadhurst T-Shirt Clothing Company</h1>

    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" href="">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="">Products</a></li>
      <li class="nav-item"><a class="nav-link" href="">Contact Us</a></li>
    </ul>

    <div class="contact">
      <img src="././assets/images/facebook.png" alt="">
      <img src="././assets/images/envelope.png" alt="">
    </div>
</div>

<img class="banner" src="././assets/images/banner.jpg" alt="">

<!--
<products></products>
-->

<contact-form></contact-form>

<!--
<div class="footer">© Copyright 2017 Broadhurst T-Shirt Clothing Company. Theme by Blacknight</div>
-->

